.comment {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #cbdcdd;
  width: 200px;
  height: 200px;
  color: #4338ca;
  border-radius: 5px;
}
