.comment {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #cbdcdd;
  width: 100px;
  height: 100px;
  color: #4338ca;
  border-radius: 5px;
  font-size: 12px;
}
